.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.generate-main {
    /* background-color: aquamarine; */
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.generate-form-title {
    display: flex;
    /* background-color: beige; */
    gap: 1rem;
    align-items: center;
}

.generate-form-title > h2 {
    font-size: 1.5rem;
    color: #1E1E1E;
}

.generate-logo {
    height: 2rem;
}

.generate-circle {
    background: #1E1E1E;
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: #EEEEEE;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

.generate-panda {
    height: 8rem;
}

.generate-footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 50px;
}

.generate-footer {
    color: #A91D3A;
    margin: 0.5rem;
    font-weight: 400;
}

.generate-thankyou {
    display: flex;
    /* background-color: beige; */
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 2rem
}

.generate-thankyou > h2 {
    color: #A91D3A;
}

.generate-button {
    font-weight: 400;
    font-size: 1.2rem;
    color: #EEEEEE;
    background-color: #1E1E1E;
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.5rem;
    width: 20rem;
    border: none;
}

.generate-button:hover {
    cursor: pointer;
    background-color: #A91D3A;
    color: #EEEEEE;
}

.generate-form-container {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 4rem 0rem 4rem;
}

.generate-form-text {
    font-size: 1rem;
    font-weight: 400;
    color: #A91D3A;
    margin: 0;
}

.generate-inner-container {
    /* background-color: chartreuse; */
    display: flex;
    gap: 2rem;
}

.generate-textfield {
    background-color: white;
    border-radius: 0.7rem;
    width: 15rem;
}

.generate-text-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}